<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name ="demoConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;
    Initial Catalog=demoDB;User ID=DemoAdmin;Password=demo1234;"/>
    <add name ="demoConn2" connectionString="Data Source=localhost,1433;
    Initial Catalog=demoDB;User ID=;Password=;"/>
  </connectionStrings>
</configuration>